body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper{
  display: flex;
  justify-content: center;
}
.form{
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.table{
  padding: 15px;
}
table{
  border-collapse: collapse;
}
th{
  cursor: pointer;
  padding: 8px;
}
td{
  padding: 8px;
}
.formElement{
  margin: 0 0 15px 0;
}
input[type='text']{
  border: 1px solid #000; 
   /* border-radius: 3px; 
   -webkit-border-radius: 3px; 
   -moz-border-radius: 3px;
   -khtml-border-radius: 3px; 
   background: #ffffff !important;
   outline: none; 
   height: 24px; 
   width: 120px; 
   font-size: 11px; 
   font-family: Tahoma;  */
}
